.page-body{
	overflow: hidden;
}
.w-page-breadcrumb{
	color: #666;
	line-height: 70px;
}
.w-page-breadcrumb a{
	color: #666;
}



.member-nav ul{
	text-align: center;
}
.member-nav li{
	position: relative;
	display: inline-block;
	line-height: 70px;
	margin: 0 4em;
}
.member-nav li:after{
	display: none;
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	z-index: 1;
	margin-left: -10px;
	border-width: 10px;
	border-style: dashed dashed solid;
	border-color: transparent transparent #eff0f4;
}
.member-nav li.current:after{
	display: block;
}
.member-nav li.current a{
	color: #ff8531;
}
.member-nav a:hover{
	color: #ff8531;
}

.member-tips{
	padding: 20px 0;
	padding-left: 10px;
	line-height: 1.4;
	color: #838486;
	letter-spacing: 0.05em;
}
.member-container{
	background: #fff;
	border-radius: 5px;
	margin-bottom: 100px;
	overflow: hidden;
}
.member-info{
	width: 32.5%;
	overflow: hidden;
	float: left;
}
.mic-num{
	height: 150px;
	margin-top: 50px;
	background: url(images/member/card.png) center no-repeat;
	line-height: 140px;
	text-align: center;
	color: #fff;
	letter-spacing: 0.1em;
}
.mic-name{
	margin: 25px 0;
	color: #ff8531;
	text-align: center;
	letter-spacing: 0.2em;
}
.mi-item{
	padding: 18px 50px;
	color: #666;
	border-top: 1px solid #ebebeb;
	font-size: 0.875em;
}
.mi-key{
	font-weight: bold;
	margin-right: 2em;
}
.mipc-bar-wrap{
	height: 6px;
	background: #d6d6d6;
	margin-top: 20px;
	margin-bottom: 10px;
}
.mipc-bar{
	height: 6px;
	background: #ff8531;
}
.mi-present ul{
	margin: 15px 0;
}
.mi-present li{
	display: inline-block;
	width: 20%;
	margin-right: 2%;
	border-radius: 50%;
	box-shadow: 1px 1px 4px rgba(0,0,0,.3);
}
.mi-present li img{
	width: 100%;
	height: auto;
}
.mip-more{
	color: #666;
	border-bottom: 1px solid #666;
	font-size: 0.75em;
}
.mip-more:hover{
	color: #ff8531;
	border-bottom: 1px solid #ff8531;
}
.mi-qrcode{
	padding: 30px 45px;
	text-align: center;
}
.mi-qrcode img{
	max-width: 100%;
	height: auto;
	
}

.member-panel{
	overflow: hidden;
}
.member-panel .h ul{
	text-align: center;
}
.member-panel .h li{
	display: inline-block;
	padding-bottom: 3px;
	margin: 0 8%;
}
.member-panel .h li.current{
	background: #ff8531;
}
.member-panel .h a{
	display: inline-block;
	color: #ff8531;
	line-height: 60px;
	background: #fff;
	padding: 0 2em;

}
.register-steps {
	padding-bottom: 20px;
	margin: 0 -0.3% 20px;
	overflow: hidden;
}
.member-panel .register-steps li{
	display: block;
	float: left;
	line-height: 50px;
	background: #fff;
	width: 49.4%;
	margin: 0 0.3%;
	border-radius: 3px;
	color: #aaa;
	letter-spacing: 0.1em;
}
.member-panel .register-steps li.current{
	position:relative;
	background: #d14169;
	color: #fff;
}
.member-panel .register-steps li.current:after{
	display: block;
	content: '';
	position: absolute;
	left: 50%;
	bottom: -20px;
	z-index: 1;
	margin-left: -10px;
	border-width: 10px;
	border-style: solid dashed dashed;
	border-color: #d14169 transparent transparent;
}
.member-register-type{
	text-align: center;
	border-bottom: 1px solid #c2c3c5;
	padding-bottom: 50px;
	margin-bottom:50px;
}
.member-register-type .form-group{
	display: inline-block;
}
.member-register-type .form-group .mp-radio{
	display: block;
}
.mp-form-sjh .mp-input{
	width: 340px;
}
.mp-form-yzm .mp-input{
	width: 224px;
}
.mp-form-yzm .mp-btn{
	margin: 0;

}
.mp-form-yzm .mp-btn button{
	padding: 8px 0;
	width: 110px;
}
.page-member-register-1 .b{
	text-align: center;
}
.register-2-tips{
	text-align: center;
	color: #888;
	margin-bottom: 30px;
	line-height: 1.4;
}
.page-member-register-2 .b .c-1,
.page-member-register-2 .b .c-2{
	width: 50%;
	float: left;
}
.page-member-register-2 .b .c-1-inner{
	border-right: 1px solid #c2c3c5;
}
.page-member-register-2 .b .c-2 ul{
	background: #e4e5e9;
	border-radius: 3px;
	padding: 40px;
}
.page-member-register-2 .b .c-2 .mp-input{
	width: 240px;
}
.page-member-register-2 .b .c-2 .mp-tips, 
.page-member-register-2 .b .c-2 .mp-checkbox{
	width: auto;
	padding-left: 0.5em;
}
.page-member-register-2 .b .r{
	width: 100%;
	text-align: center;
	overflow: hidden;
}
.member-panel .b .mp-input-left{
	text-align: left;
	margin-bottom: 40px;
}

.member-panel .b{
	border-width: 1px 1px 0;
	border-style: solid;
	border-color: #c2c3c5;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	overflow: hidden;
	padding-bottom: 100px;
	padding-top: 50px;
	text-align: center;
}
.member-panel .b .c-l{
	float: left;
	width: 50%;
	text-align: center;
}
.member-panel .b .c-r{
	float: right;
	width: 50%;
	padding-top: 80px;
}
.mt_50{
	margin-top: 50px;
}
.member-panel .b ul{
	display: inline-block;
}
.member-panel .b li{
	padding: 10px 0;
}
.member-panel .b label{
	display: inline-block;
	width: 70px;
	text-align: right;
	padding-right: 20px;
	color: #666;
}
.member-panel .b .remember-pw-label{
	color: #666;
	width: 80px;
}
#remember-pw {
	margin-right: 2px;
}
.member-panel .b label i{
	color: #df0a0a;
	font-style: normal;
	font-size: 1.2em;
}
.mp-input{
	display: inline-block;
	width: 340px;
	border: 1px solid #ccc;
	background: #f2f2f2;
	padding: 10px;
	border-radius: 3px;
}
.w-mp-input{
	display: inline-block;
}
.w-mp-input .mp-tips{
	display: block;
	font-size: 12px;
	margin-bottom: 5px;
}
.mp-birth{
	display: inline-block;
	width: 360px;
	text-align: left;
}
.mp-birth .mp-input{
	width: 94px;
}
.mp-input_bmonth{
	margin: 0 6px;
}
.mp-input .inputbox{
	width: 100%;
	color: #666;
	line-height: 1.2;
	-webkit-appearance: none;
}

.mp-certificates select{
	display: inline-block;
	width: 20%;
	font-size: 0.875em;
	margin: 0;
	margin-left: -5px;
	margin-right: 5px;
	outline: none;
	/*border: none;
	background: transparent;*/
}
.mp-certificates .inputbox{
	width: 80%;
}


.mp-radio{
	display: inline-block;
	width: 360px;
	padding: 10px 0;
	text-align: left;
}
.mp-radio .inputradio{
	margin-right: 0.5em;
}
.mp-radio span{
	margin-right: 2em;
}
.mp-btn{
	margin-top: 30px;
	display: inline-block;
	border-radius: 3px;
	background: #f15f2b;
	padding-bottom: 3px;
}
.mp-btn button{
	display: inline-block;
	color: #fff;
	background: #ff8531;
	border-radius: 3px;
	padding: 8px 3em;
	cursor: pointer;
	letter-spacing: 0.06em;
}
.mp-btn a{
	display: inline-block;
	color: #fff;
	background: #ff8531;
	border-radius: 3px;
	padding: 10px 2em;
	cursor: pointer;
}
.mp-btn_register{
	background: #af3255;
	margin-left: 2em;
}
.mp-btn_register button{
	background: #d14169;
}

.mp-btn-register_next{
	background: #af3255;
}
.mp-btn-register_next button{
	background: #d14169;
}
.member-panel .h{
	text-align:center;
}
.member-panel .h h1{

	margin-bottom: 30px;
	display: inline-block;
	padding: 10px 0 10px 40px ;
	color: #666;
	background: url(images/member/icon_01.png) left center no-repeat;
}
.page-member-sub .mp_resetpw h1,
.page-member-sub .mp_forgetpw h1{
	background: url(images/member/icon_02.png) left center no-repeat;
}
.mp_resetpw .forpadding,
.mp_forgetpw .forpadding,
.mp_login .forpadding{
	height: 300px;
}
.mp-tips,.mp-checkbox,.mp-captcha{
	display: inline-block;
	color: #aaa;
	text-align: left;
	margin-top: 8px;
	letter-spacing: 0.1em;
	line-height: 1.2;
	width: 360px;
}
.mp-captcha a{
	color: #bebec2;
	text-decoration: underline;
	margin-left: 1em;
}
.member-panel .h .mp-tips{
	display: block;
	width: auto;
	text-align: center;
	font-size: 12px;
	padding-left: 0;
	margin-bottom: 20px;
}
.member-panel-footer{
	height: 70px;
	font-size: 14px;
	color: #fff;
	letter-spacing: 0.1em;
	background: #d14169;
	text-align: center;
}
.member-register-footer{
	background: #2e2a54;
}
.member-register-footer .mp-btn{
	background: #1e1b3b;
}
.member-register-footer .mp-btn a{
	background: #48307e;
	padding: 10px 1em;
}
.mpf-card{
	margin-top: -60px;
}
.mpf-join{
	margin-top: -100px;
	width: 140px;
	height: auto;
}
.mpf-cont .mp-btn{
	margin-top: 18px;
}
.form-group{
	text-align: left;
	padding-left: 90px;
}
.link-forgetpw{
	color: #666;
	text-decoration: underline;
}
.link-forgetpw:hover{
	color: #ff8531;
}
/*会员账户/会员积分*/
.page-member-account .member-panel .b,
.page-member-point .member-panel .b{
	border:none;
	border-top: 1px solid #c2c3c5;
	border-radius: 0;
	margin-top: -1px;
	padding-top: 0;
}
.page-member-account .member-panel,
.page-member-point .member-panel{
	border-left: 1px solid #d9d9d9;
}
.page-member-point .member-panel{
	color: #888;
}
.page-member-point .point-h{
	overflow: hidden;
	border-bottom: 1px solid #d9d9d9;
}
.page-member-point .totalPoint{
	float: left;
	line-height: 80px;
	margin-left: 20px;
}
.page-member-point .totalPoint span{
	color: #d14169;
	font-size: 2.75em;
	vertical-align: middle;
}
.page-member-point .btn-exchange{
	float: right;
	margin: 20px;
}
.point-panel{
	padding: 20px;
}
.member-panel .b .mp-tab{
	display: block;
	overflow: hidden;
	margin: 0 -0.26%;
}
.member-panel .mp-tab li{
	display: block;
	float: left;
	width: 32.8%;
	margin: 0 0.26%;
	padding: 0;
}
.mp-tab li a{
	display: block;
	color: #222;
	padding-top: 5px;
	background: #dfdfdf;
	border-width: 1px 1px 0;
	border-color: #dfdfdf #dfdfdf transparent;
	border-style: solid solid none;

	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}
.mp-tab li a span{
	display: block;
	padding: 10px 0 15px;
}
.mp-tab li.current a{
	background: #ff8531;
}
.mp-tab li.current a span{
	background: #fff;
}
.mp-tabcont{
	border: 1px solid #dfdfdf;
	margin-top: -1px;
}

.point-th{
	text-align: right;
	padding: 15px 0;
}
.mp-tool{
	font-size: 12px;
}
.mp-timetool{
	display: inline-block;
	margin: 0 15px;
}
.mp-toolbox{
	background: #f2f2f2;
	border: 1px solid #ccc;
	width: 4em;
	vertical-align: middle;
	padding: 5px;
}
.mp-toolbtn{
	color: #fff;
	background: #bababa;
	border-radius: 2px;
	padding: 4px 15px;
	vertical-align: middle;
	margin-top: -1px;
}
.point-tb{
	overflow: hidden;
}
.point-table{
	border: 1px solid #dfdfdf;
	margin: 0 -3px;
}
.point-tb table{
	width: 100%;
}
.point-tb table thead{
	border-bottom: 1px solid #dfdfdf;
}
.point-tb table td,
.point-tb table th{
	width: 25%;
	padding: 15px 0;
	border-right: 1px solid #dfdfdf;
}
.point-tf{
	overflow: hidden;
	padding: 15px 0;
}
.link-pointrule{
	float: left;
	color: #bbb;
	margin-left: 15px;
	line-height: 26px;
	text-decoration: underline;
	vertical-align: middle;
}
.mp-paginationtool{
	float: right;
	margin-right: 15px;
}
.mp-paginationbox{
	width: 20px;
}

.point_reduce{
	color: #d14169;
}
.point_add{
	color: #ff8531;
}

/*会员权益*/
.member-cards{
	color: #666;
	letter-spacing: 0.05em;
}
.member-cards ul{
	overflow: hidden;
	border-bottom: 1px solid #e5e5e5;
}
.member-cards li{
	margin-bottom: -10000px;
	padding-bottom: 10000px;
	display: block;
	float: left;
	width: 33.3%;
	margin-left: -1px;
	border-left: 1px solid #e5e5e5;
}
.member-cards .inner{
	padding: 0px 40px 40px;
}
.member-cards h2,
.member-cards h3{
	font-weight: normal;
	text-align: center;
	margin: 40px 0 30px;
}
.member-cards h3 {
	font-size: 0.875em;
	border-top: 1px solid #e5e5e5;
}
.member-cards h3 span{
	display: block;
	width: 5em;
	margin: -0.5em auto 0;
	background-color: #fff;
}
.member-cards .mc-pic{
	text-align: center;
}
.member-cards .mc-pic img{
	max-width: 100%;
}
.member-cards dl,
.member-service dl{
	font-size: 0.75em;
}
.member-cards dt,
.member-service dt{
	overflow: hidden;
	line-height: 1.8;
}
.member-cards dt span,
.member-service dt span{
	float: left;
	margin-right: 0.8em;
}
.member-cards dt i,
.member-service dt i{
	margin-right: 0.6em;
}
.member-cards dt p,
.member-service dt p{
	overflow: hidden;
}
.mc_1 h2,
.mc_1 h3,
.mc_1 dt span{
	color: #d14169;
}
.mc_2 h2,
.mc_2 h3,
.mc_2 dt span{
	color: #a79a7e;
}
.mc_3 h2,
.mc_3 h3,
.mc_3 dt span{
	color: #676767;
}
.member-service{
	color: #666;
	letter-spacing: 0.05em;
	padding: 30px 40px;
}
.member-service h3{
	color: #ff8531;
	font-size: 0.875em;
	margin: 10px;
}
.member-service dt span{
	color: #ff8531;
}

/*积分商城*/
.m{
	overflow: hidden;
}
.u-img img{
	width: 100%;
	display: block;
}
.m-imglist ul{
	margin: 0 -15px;
}
.m-imglist ul li{
	float: left;
	width: 25%;
}
.m-imglist .inw{
	padding: 15px;
}
.m-imgcard{
	padding: 15px;
	border-radius: 5px;
	color: #fff;
}
.m-imgcard .mp-btn{
	margin-top: 16px;
}
.m-imgcard .u-btngroup{
	text-align: center;
}
.m-imgcard .u-btngroup .mp-btn{
	margin: 10px;
}
.m-imgcard .u-cont2,
.m-imgcard .u-cont3{
	border-top: 1px solid #fff;
}
.m-imgcard .mb h3{
	margin-top: 10px;
	line-height: 1.4;
}
.m-imgcard .mb p{
	margin-top: 10px;
	font-size: 0.875em;
	line-height: 1.4;
}
.m-imgcard .u-cont1 .u-txt1{
	margin-top: 25px;
	color: #ffa76a;
}
.m-imgcard .u-cont2 p span,
.m-imgcard .u-cont3 p span{
	color: #ffa76a;
}
.m-imgcard .u-cont2,
.m-imgcard .u-cont3{
	display: none;
}
.m-imgcard .u-cont1 .u-txt2{
	margin-top: 20px;
}
.m-imgcard .u-cont1 .u-txt2 span{
	font-size: 30px;
}
.m-imgcard .u-cont1 .mc1{
	float: left;
}
.m-imgcard .u-cont1 .mc2{
	float: right;
}

/* 分页 */
.w-pagination{
	padding: 20px 0 50px;
	text-align: center;
}
.pagination{
	text-align: center;
	line-height: 2.2;
}
.pagination a{
	position: relative;
	width: 32px;
	height: 32px;
	margin: 0 1px;
	line-height: 32px;
	border-radius: 5px;
	/*-webkit-box-shadow: 0 -1px 0 1px #fcc245 inset;
	box-shadow: 0 -1px 0 1px #fcc245 inset;*/
}
.pagination a:hover{
	background-color: #ae6fbd;
}

.pagination_prev{
	margin-right: 8px;
	text-align: left;
}
.pagination_next{
	margin-left: 8px;
	text-align: right;
}
.pagination_prev i,
.pagination_next i{
	position: absolute;
	left: 2px;
	top: 2px;
}
.pagination .pagination_current a{
	cursor: default;
	background-color: #5c4687;
	/*-webkit-box-shadow: 0 -1px 0 1px #a55fb6 inset;
	box-shadow: 0 -1px 0 1px #a55fb6 inset;*/
}

.m-filtertool{
	background: #fff;
	border-radius: 5px;
	overflow: hidden;
	font-size: 0.875em;
}
.m-filtertool i{
	display: inline-block;
	vertical-align: middle;
}
.m-filtertool .mc1{
	float: left;
	margin-left: 10px;
}
.m-filtertool .mc1 li{
	display: inline-block;
	margin: 0 1em;
	padding: 0 0.2em;
	border-top: 5px solid #fff;
	border-bottom: 5px solid #fff;
}
.m-filtertool .mc1 li.current{
	border-bottom-color: #ff8531;
}
.m-filtertool .mc1 a{
	padding: 1em 0;
	display: block;
	color: #949494;
}

.m-filtertool .mc1 li.current a,
.m-filtertool .mc1 a:hover{
	color: #ff8531;
}
.m-filtertool .mc1 li.current .ico_05,
.m-filtertool .mc1 a:hover .ico_05{
	background-position: -88px -220px;
}
.m-filtertool .mc1 li.current .ico_15,
.m-filtertool .mc1 a:hover .ico_15{
	background-position: -110px -220px;
}
.m-filtertool .mc1 li.current .ico_25,
.m-filtertool .mc1 a:hover .ico_25{
	background-position: -132px -220px;
}
.m-filtertool .mc1 li.current .ico_35,
.m-filtertool .mc1 a:hover .ico_35{
	background-position: -154px -220px;
}
.m-filtertool .mc1 i{
	margin-right: 0.5em;
}
.m-filtertool .mc2{
	float: right;
	background: #ff8531;
	color: #fff;
	padding: 5px 1em;
}
.m-filtertool .mc2 ul{
	display: inline-block;
}
.m-filtertool .mc2 li{
	display: inline-block;
}
.m-filtertool .mc2 a{
	padding: 1em;
	display: block;
}
.m-filtertool .mc2 a:hover{
	color: #ca3555;
}
.m-filtertool .mc2 li.desc a,
.m-filtertool .mc2 li.asc a{
	color: #ca3555;
}
.m-filtertool .mc2 li.default a:hover .ico_85,
.m-filtertool .mc2 li.desc .ico_85{
	background-position: -220px -220px;
}
.m-filtertool .mc2 li.asc .ico_85{
	background-position: -242px -220px;
}
.m-pointrole{
	padding-bottom: 100px;
}
.m-pointrole h3{
	color: #ff8531;
	font-size: 0.875em;
	padding: 1em 0;
	margin-bottom: 1em;
	border-bottom: 1px solid #a7a8aa;

}
.m-pointrole p{
	font-size: 0.875em;
	color: #838486;
	line-height: 1.6;
	letter-spacing: 0.05em;
}


@media screen and (max-width: 800px) {
	.member-nav li{
		margin: 0 5%;
	}
	.member-container{
		margin-left:10px;
		margin-right:10px;
	}
	.member-info{
		width: 50%;
	}
	.member-panel .b ul{
		width: 100%;
	}
	.mp-input{
		width: 60%;
	}
	.mp-radio{
		width: 60%;
		padding-right: 20px;
	}

	.mp-tips, .mp-checkbox, .mp-captcha{
		width: 60%;
		padding-right: 20px;
	}
	.member-cards .inner{
		padding: 0 20px 40px;
	}
	.mpf-card,
	.mpf-join,
	.member-panel .b .placeholder-label{
		display: none;
	}
	.member-register-type .form-group{
		padding-left: 0;
	}
	.page-member-register-2 .b .c-1,
	.page-member-register-2 .b .c-2{
		width: 100%;
	}
	.page-member-register-2 .b .c-1-inner{
		border: none;
	}
	.page-member-register-2 .b .c-2 ul{
		padding: 0;
	}
	.page-member-register-2 .b .c-2 .mp-input{
		width: 60%;
	}
	.member-panel .b .mp-input-left{
		text-align: center;
		margin-bottom: 0;
	}
	.page-member-register-2 .b .c-2 .mp-tips{
		text-align: center;
	}

	.page-member-register-2 .b .c-2 .mp-checkbox{
		text-align: left;
	}
	.page-member-register-2 .b .c-2 .mp-tips,
	.page-member-register-2 .b .c-2 .mp-checkbox{
		padding: 0;
	}
	.page-member-point-mall .mp-b{
		padding: 0 10px;
	}
	.m-imglist ul{
		margin: 0 -10px;
	}
	.m-imglist .inw{
		padding: 10px;
	}
	.m-imglist ul li{
		width: 50%;
	}
	.m-imglist ul li:nth-child(2n+1){
		clear: both;
	}
	.m-filtertool .mc1{
		margin-left: 0;
	}
	.m-filtertool .mc1 li{
		margin: 0 0 0 1em;
	}
	.m-filtertool .mc2 a{
		padding: 1em 0.5em;
	}
}
@media screen and (max-width: 640px) {
	.member-cards li{
		width: 100%;
	}
	.member-cards .inner{
		padding: 0 20% 40px;
	}
	.member-panel .b .c-l,
	.member-panel .b .c-r{
		width: 100%;
		text-align: center;
	}
	.form-group{
		padding-left: 0;
		text-align: center;
	}
	.member-panel-footer{
		height: auto;
		padding: 10px;

	}
	.member-panel-footer .mp-btn{
		margin: 10px 0;
	}
	.member-register-type .form-group{
		margin-top: 20px;
	}
}
@media screen and (max-width: 600px) {
	.member-info{
		width: 100%;
		float: none;
	}
	.mp-btn{
		margin: 30px 0;
	}
	.mp-certificates select{
		width: 25%;
	}
	.mp-certificates .inputbox{
		width: 75%;
	}
	.m-filtertool .mc1,
	.m-filtertool .mc2 {
		width: 100%;
		text-align: center;
	}

	.m-filtertool .mc2 {
		margin-top: 5px;
	}
	.m-filtertool .mc1 a{
		padding: 1em 0 0.5em;
	}
	.m-filtertool .mc2 a{
		padding: 0.5em;
	}
	.m-filtertool .mc1 i{
		display: none;
	}
}
@media screen and (max-width: 480px) {
	.member-panel .b label{
		padding-right: 10px;
	}
	.mp-captcha a{
		display: block;
		margin-top: 8px;
		margin-left: 0;
	}
	.member-panel .h .mp-tips{
		padding: 0;
		width: 60%;
		margin-left: auto;
		margin-right: auto;
		text-align: left;
	}
	.member-cards .inner{
		padding: 0 10% 40px;
	}
	.mp-certificates select{
		width: 30%;
	}
	.mp-certificates .inputbox{
		width: 70%;
	}
	
	.mp-form-sjh .mp-tips,
	.mp-form-sjh .mp-input{
		width: 200px;
	}
	.mp-form-yzm .mp-input{
		width: 84px;
	}

	.m-imglist ul li{
		width: 100%;
	}
}



























